*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --default-space: 1rem;
  font-size: 16px;
}

.btn {
  background: none;
  border: none;
  color: currentColor;
}

.flow > * + * {
  margin-top: calc(var(--default-space) * 2) !important;
}

.centered-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  line-height: 1.4;
}
p.center {
  text-align: center;
}
p.faded {
  color: rgba(0, 0, 0, 0.38);
}
p.note {
  font-size: 0.8rem;
}

.upper {
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

strong {
  font-weight: 900;
}

.horizontal-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.horizontal-items.centered {
  justify-content: center;
  gap: 2rem;
}

:root {
  --bg-color: #0a0300;
  --font-title: "Oswald";
  --font-text: "Raleway";
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--bg-color);
  color: #fafafa;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", serif;
  letter-spacing: 0.6px;
}

:is(h1, h2, h3, h4) + p {
  margin-top: 0.5rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: normal;
}

h3 {
  font-size: 2;
}

h2 {
  font-size: 2.8;
}

h1 {
  font-size: 4rem;
}

.text {
  font-family: var(--font-text);
}

p {
  line-height: 1.6;
}

:is(h1, h2, h3, h4, p).normal {
  font-weight: normal;
}

nav a {
  color: currentColor;
  text-decoration: none;
  font-weight: 600;
  font-family: var(--font-title);
  text-transform: uppercase;
}
nav a:not(.chip):hover {
  text-decoration: underline;
}

section:not(.top-section) {
  padding-top: 2rem;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  font-family: var(--font-title);
}

.header-main {
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.75);
}

header ul {
  gap: 2rem;
  font-weight: 500;
}

.hero {
  margin-top: 90px;
}

.hero-container {
  height: 450px;
  background-image: url("../images/bw/infectious grooves-8.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
}

.hero-container > *:not(.overlay-hero) {
  position: relative;
  z-index: 2;
}

.hero-message > :is(h1, h2, h3, h4) {
  letter-spacing: 1.8px;
}

:is(h1, h2, h3, h4, p).letter-space-large {
  letter-spacing: 2.8px;
}

.overlay {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

.overlay-hero {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
}

.hero-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.hero-cta .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.6rem;
  width: 8rem;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  border-radius: 12px;
  font-weight: bold;
  font-family: var(--font-text);
}

.gap-small {
  gap: 2rem;
}

.aside-info {
  max-width: 400px;
}

.mosaic {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 150px 150px;
  gap: 1rem;
}
.mosaic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.full-row {
  grid-row: span 2;
}

.full-col {
  grid-column: span 2;
}

.chip {
  padding-bottom: 0.5rem;
  background-color: transparent;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.4px;
  position: relative;
}
.chip::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  border-bottom: 2px solid white;
  transition: transform 0.2s ease;
}
.chip:hover::after {
  transform: scaleX(1);
}

.faded {
  color: rgba(220, 220, 220, 0.68);
}

span.shadow {
  text-shadow: 0 0 6px black;
}

span.shadow-large {
  text-shadow: 0 0 30px black;
}

footer {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .galleries {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
