*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --default-space: 1rem;
  font-size: 16px;
}

.btn {
  background: none;
  border: none;
  color: currentColor;
}

.font-light {
  font-weight: lighter !important;
}

.no-letter-spacing {
  letter-spacing: 0px !important;
}

.flow > * + * {
  margin-top: calc(var(--default-space) * 2) !important;
}

.flow-small > * + * {
  margin-top: calc(var(--default-space) * 0.5) !important;
}

.centered-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

p.center {
  text-align: center;
}
p.faded {
  color: rgba(0, 0, 0, 0.38);
}
p.note {
  font-size: 0.8rem;
}

.upper {
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

strong {
  font-weight: 900;
}

.horizontal-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.horizontal-items.start {
  justify-content: start;
  gap: 2em;
}

.horizontal-items.centered {
  justify-content: center;
  gap: 2rem;
}

.horizontal-items.double-gap {
  gap: 4rem;
}

.object-fit-left {
  object-position: center left;
}

.object-fit-right {
  object-position: center right;
}

:root {
  --bg-color: rgb(20, 20, 20);
  --header-background: rgb(50, 50, 50);
  --font-title: "Oswald", sans-serif;
  --font-text: "Raleway", sans-serif;
  --header-height: 4rem;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--bg-color);
  color: #d2d2d2;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", serif;
  letter-spacing: 0.6px;
}

.serif {
  font-family: var(--font-title);
}

:is(h1, h2, h3, h4) + p {
  margin-top: 0.5rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: normal;
}

h3 {
  font-size: 1.6rem;
}

h2 {
  font-size: 2.5rem;
}

h1 {
  font-size: 3.4rem;
}

.text {
  font-family: var(--font-text);
}

p {
  line-height: 1.8;
}

:is(h1, h2, h3, h4, p).normal {
  font-weight: normal;
}

a {
  text-decoration: none;
}

nav a,
.btn-link {
  font-weight: bold;
  font-family: var(--font-title);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #c8c8c8;
}

nav a:not(.btn-link):hover {
  color: white;
}

.svg-link {
  filter: brightness(0.65);
  transition: filter 0.2s ease;
}
.svg-link:hover {
  filter: brightness(1);
}

.btn-link {
  padding: 0.5rem 1.2rem;
  border: 1px solid #c8c8c8;
  transition: background-color 0.1s ease, color 0.1s ease;
}
.btn-link:hover {
  background-color: gainsboro;
  color: black;
}

section:not(.section-hero, .section-footer) {
  margin-top: 2rem;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}

.logo {
  font-family: var(--font-title);
}

.hamburger-icon-container {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}
@media (max-width: 550px) {
  .hamburger-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hamburger-line {
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background-color: white;
}

.header-main {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  transition: background-color 0.35s ease;
}

.header-main.opaque {
  background-color: var(--header-background);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.65);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  font-size: 0.88rem;
}

.header-main.overlaid {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 4;
}

@media (max-width: 550px) {
  .header-main li:not(.nav-permanent) {
    display: none;
  }
}

.header-placeholder {
  height: var(--header-height);
  background-color: transparent;
}

header ul {
  gap: 2rem;
  font-weight: 500;
}
@media (max-width: 550px) {
  header ul {
    gap: 1rem;
  }
}

.hero {
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding-top: var(--header-height);
}

.hero-container {
  height: 500px;
  background-image: url("../website_assets/photos/hero_image.png");
  background-size: cover;
  background-position: center bottom;
  background-attachment: scroll;
  background-repeat: no-repeat;
  position: relative;
}

.overlaid {
  position: relative;
  z-index: 2;
}

.hero-message > :is(h1, h2, h3, h4) {
  letter-spacing: 1.8px;
}

.hero-message-subtitle {
  color: white;
}

:is(h1, h2, h3, h4, p).letter-space-large {
  letter-spacing: 2.8px;
}

.article-title {
  margin-bottom: 2rem;
  position: relative;
}
.article-title::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0px;
  height: 1px;
  border-top-right-radius: 0.7px;
  border-bottom-right-radius: 0.7px;
  background-color: rgba(255, 255, 255, 0.45);
  mask-mode: alpha;
  width: 50px;
}

.overlay {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

.overlay-hero {
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8) 80%);
}

.menu-container {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
}
.menu-container .menu {
  --width: 200px;
  position: absolute;
  width: var(--width);
  background-color: var(--bg-color);
  inset: 0 0 0 auto;
  padding: 1rem;
  box-shadow: 0 -1px 10px black;
  transform: translateX(calc(var(--width) + 10px));
  transition: transform 0.24s ease;
}
.menu-container .menu.shown {
  transform: translateX(0);
}
.menu-container .menu h2 {
  letter-spacing: 3px;
}

.btn-menu-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  font-size: 2rem;
  transform: rotate(45deg);
  position: relative;
  bottom: 2px;
  cursor: pointer;
}

.hero-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  align-self: center;
}
.hero-cta .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 10rem;
  border: 2px solid #c8c8c8;
  color: #ebebeb;
  text-transform: uppercase;
  border-radius: 12px;
  font-weight: bold;
  font-family: var(--font-text);
  cursor: pointer;
}
.hero-cta .btn:hover {
  color: white;
}

.gap-small {
  gap: 2rem;
}

.shadowed-card {
  background-color: #1a1a1a;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 30px 20px -30px rgba(0, 0, 0, 0.65);
  position: relative;
}
@media (max-width: 550px) {
  .shadowed-card {
    background-color: transparent;
    padding: 0rem;
    border-radius: 0px;
    box-shadow: none;
    position: relative;
  }
}

.mosaic {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 150px 150px;
  gap: 1rem;
}
.mosaic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.full-row {
  grid-row: span 2;
}

.full-col {
  grid-column: span 2;
}

.splitter.horizontal-items {
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.splitter.horizontal-items > :not(.article-about) {
  flex: 1;
}
@media (max-width: 550px) {
  .splitter.horizontal-items {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
}

@media (max-width: 800px) {
  .hide-breakpoint-medium {
    display: none;
  }
}

@media (max-width: 550px) {
  .hide-breakpoint-small {
    display: none;
  }
}

.chip {
  padding-bottom: 0.5rem;
  background-color: transparent;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.4px;
  position: relative;
}
.chip::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  border-bottom: 2px solid white;
  transition: transform 0.2s ease;
}
.chip:hover::after {
  transform: scaleX(1);
}

.faded {
  color: rgba(220, 220, 220, 0.68);
}

span.shadow {
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

span.shadow-large {
  text-shadow: 0 0 30px black;
}

/* ----- GALLERY MOSAIC ----- */
.gallery-mosaic {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: 300px;
  justify-content: center;
  gap: 33.33px;
}
.gallery-mosaic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center top;
}

/* ----- LIGHTBOX ----- */
.lightbox-overlay {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
}

.lightbox-overlay.shown {
  display: flex;
}

.lightbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  color: black;
}
.lightbox-container img {
  border-radius: 2px;
  max-height: 80vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.lightbox-btn {
  --size: 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  background-color: rgba(255, 255, 255, 0.25);
  color: black;
  font-weight: bold;
  margin: 0 3rem;
  border-radius: calc(var(--size) / 2);
  cursor: pointer;
}

#lightbox-btn-back > img {
  transform: scaleX(-1);
}

.btn-lightbox-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 4rem;
  height: 4rem;
  top: 1rem;
  right: 1rem;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 2rem;
  cursor: pointer;
}
.btn-lightbox-close > img {
  pointer-events: none;
}

/* ----- FOOTER STYLE ----- */
footer {
  min-height: 160px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: max(15%, 4rem);
}
@media (max-width: 550px) {
  footer {
    flex-direction: column;
    padding-top: 2rem;
    margin-bottom: 2rem;
  }
}
footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--font-title);
  font-size: 1rem;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
footer a:hover {
  text-decoration: underline;
}
footer ul > * + * {
  margin-top: 0.8rem;
}

/* ----- GALLERY STYLES ----- */
.container-portfolio-picker {
  position: relative;
}

.selector-chip {
  position: absolute;
  height: 3px;
  background-color: white;
  width: 40px;
  bottom: -3px;
}

.category-picker {
  display: inline-block;
  margin-right: 1rem;
  cursor: pointer;
  transition: color 0.5s ease;
  color: #646464;
  font-size: 1.1rem;
}
.category-picker:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
}
.category-picker.selected {
  color: white;
  font-weight: 500;
}

.gallery-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item > img {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1s ease, transform 1s ease;
  z-index: 2;
}

.gallery-item > img.loader {
  opacity: 1;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 0;
}

img.shown {
  opacity: 1;
  transform: scale(1);
}

/* ----- ----- */
.section-about {
  padding: 2rem 0;
  background-color: rgba(40, 40, 40, 0.68);
}

.headshot-image img {
  border-radius: 1000px;
  object-fit: cover;
  object-position: center top;
  position: relative;
  filter: saturate(0);
}

.article-galleries {
  align-self: flex-start;
}

.article-about p {
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 800px) {
  .article-about p {
    column-count: 1;
  }
}

.headshot-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}
.headshot-image-container::before {
  content: "";
  width: 154px;
  height: 154px;
  background-image: linear-gradient(to right bottom, #919191, #919191);
  filter: saturate(0);
  position: absolute;
  border-radius: 1000px;
}

.slide-on-view {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1.5s ease;
}

.slide-on-view.in-view {
  opacity: 1;
  transform: translateY(0);
}

/*# sourceMappingURL=main.css.map */
